html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 34px;
    padding: 10px;
}
h2{
    font-size: 24px;
    padding: 10px;
}
h3{
    font-size: 20px;
    padding: 8px;
}

.highlight{
    color: #DB0A5B;
}

#leftContent{
    height: 100%;
    width: 50%;
    border: solid #ccc 1px;
    background-image: url("../content/images/placeholder.png");
    background-size: 50%;
    float: left;
    display: table;
}

#welcomeTextWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#rightContent{
    height: 100%;
    width: 49%;
    border: solid #eee 1px;
    float: left;

}
#rightContentTop,#rightContentMiddle,#rightContentBottom{
    height: 33%;
    width: 100%;
    border: solid #eee 1px;
    background-image: url("../content/images/placeholder_2.jpg");
    background-size: 50%;
    display:table;
    cursor: pointer;

    /*For zoom out and in */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}
#rightContentTop:hover, #rightContentMiddle:hover, #rightContentBottom:hover{
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
}
/*#leftContentTop{
    background-image: url("../content/images/placeholder_mac.png");
    background-repeat: no-repeat;
    background-size: 100%;
 }*/
.rightContentWrapper{
    display: table-cell;
    vertical-align: middle;

}

.rightContentHeading, .icon{
    float:left
}
.rightContentHeading{
    font-size: 22px;
    color: #fff;
    margin-left: 3%;
    padding-top: 15px;
}
.icon{
    margin-left: 5%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: solid #eee 0px;
    border-radius: 9999px;
    background-color: rgba(77, 78, 83, .8) /*rgba becuase of opacity*/

}
.icon i{
    font-size: 26px;
    color: #fff;
    margin-left: 32%;
    margin-top: 28%;

}
#filterBox{
    clear:both;
    display: none;
    height: 100%;
    border: solid 1px red;
    color: #fff
}
.box{
    clear:both;
    display: none;
    height: 100%;
    border: solid 1px red;
    color: #fff
}
.automaticNumberCounter{
    font-size: 24px;
    text-align: center;
    color: #0E778E;
    font-weight: 700;
}
.automaticNumberCounter:first-of-type{
    color: #E1CF21;
}